<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
                <!-- 
                Custom pipeline process to abort pipeline if the request matches a route in the route table (i.e. our json api)
                -->
                <processor patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                           type="HedgehogDevelopment.Scaas.Web.Framework.Pipelines.HttpRequest.SystemWebRoutingResolver, HedgehogDevelopment.Scaas.Web" />

            </httpRequestBegin>
        </pipelines>

        <!-- 
            Optional.
                I don't want language or file extensions 
        -->
        <linkManager defaultProvider="sitecore">
            <providers>
                <add name="sitecore">
                    <patch:attribute name="addAspxExtension">false</patch:attribute>
                    <patch:attribute name="languageEmbedding">never</patch:attribute>
                </add>
            </providers>
        </linkManager>

        <settings>
            <!--    
                Optional. 
                    Use original media file extension, not .ashx 
            -->
            <setting name="Media.RequestExtension">
                <patch:attribute name="value"></patch:attribute>
            </setting>
        </settings>
    </sitecore>
</configuration>