<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="hedgehogdevelopment.scaas.content.remote" type="HedgehogDevelopment.Scaas.Content.Remote.Configuration.RemoteConfigurationSection, HedgehogDevelopment.Scaas.Content.Remote" />
    </configSections>

    <hedgehogdevelopment.scaas.content.remote baseUri="http://sitecore.local" serviceRoutePrefix="api" />
</configuration>